.wrapper {
    background-color: #191b24;
    width: 100%;
    min-height: 1000px;
    .movie-thumb {
        img {
            width: 100%;
            height: 800px;
        }
    }
}

.container {
    display: flex;
    min-height: 1000px;
    justify-content: center;
    margin-top: -150px;
    .movie-side {
        width: 440px;
        background-color: rgba(25, 27, 36, 0.3);
        border-radius: 10px 50px 50px 10px;
        backdrop-filter: blur(20px);
    }
    .movie-main {
        width: 1160px;
        background-color: rgba(25, 27, 36, 0.3);
        border-radius: 50px 10px 10px 50px;
        backdrop-filter: blur(20px);
    }
}

.info {
    padding: 30px;
    .movie-img {
        img {
            width: 160px;
            height: 240px;
            border-radius: 10px;
        }
    }
    .movie-title {
        font-size: 19.6px;
        color: white;
        padding: 10px 0 0px 0;
    }
    .movie-origin-name {
        font-size: 16px;
        padding: 15px 0 17px 0;
        color: rgb(255, 216, 117);
    }
    .movie-stats {
        display: flex;
        font-size: 12px;
        padding: 10px 0 10px 0;
        p {
            color: white;
            padding: 4px;
            border: 1px solid white;
            margin: 0 10px 0 0px;
            border-radius: 4px;
            font-weight: 500;
            &:last-child {
                background: white;
                color: black;
            }
        }
    }
    .movie-categories {
        display: flex;
        font-size: 12px;
        padding: 0px 0 25px 0;
        p {
            color: white;
            padding: 4px;
            background-color: rgba(255, 255, 255, 0.063);
            margin: 0 10px 0 0px;
            border-radius: 4px;
        }
    }
    .movie-time,
    .movie-coun,
    .movie-direc {
        display: flex;
        font-size: 14px;
        padding: 10px 0 10px 0;
        color: white;
        .label {
            padding-right: 10px;
        }
    }
    .movie-desc {
        color: rgb(170, 170, 170);
        .label {
            padding-bottom: 10px;
        }
    }
    .label {
        color: white;
        font-weight: 600;
    }
}
.movie-main {
    .inner {
        padding: 30px;
    }
}
.toolbar {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -10px;
    .watch-btn {
        display: flex;
        width: 180px;
        height: 60px;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(39deg, rgb(254, 207, 89), rgb(255, 241, 204));
        border-radius: 30px;
        font-size: 18px;
        gap: 10px;
        margin-right: 10px;
        p {
            font-weight: 500;
        }
    }

    .like-btn,
    .add-btn,
    .share-btn,
    .cmt-btn {
        text-align: center;
        padding: 0 10px 0 10px;
        height: 100%;
        border-radius: 10px;
        margin: 0 10px 0 10px;
        font-size: 12.6px;
        .icon {
            padding-top: 10px;
        }
        p {
            padding-top: 10px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.content-box {
    margin-top: 40px;
    .tabs-nav {
        display: flex;
        gap: 30px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid rgba(255, 255, 255, 0.163);
        p {
            padding: 15px 0px 15px 0;
            cursor: pointer;
            &.active {
                color: #ffd875;
                border-bottom: 1px solid #ffd875;
            }
        }
    }
}
.tab-content {
    .ep-content,
    .gall-content,
    .actor-content,
    .sg-content {
        display: none;
        &.active {
            display: block;
        }
    }
}
.ep-content {
    .episodes-section {
        margin-top: 50px;

        .ep-header {
            display: flex;
            .ss-header {
                font-size: 20px;
                color: white;
                font-weight: 600;
                p {
                    line-height: 32px;
                }
                .bars-icon {
                    padding: 0 10px 0 0px;
                }
                .drop-icon {
                    padding: 0 5px 0 5px;
                }
                .header-box {
                    width: 140px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        border-right: 1px rgb(165, 155, 155) solid;
                        height: 32px;
                        right: 0;
                    }
                }
            }
            .caption-box {
                margin: 2px 0px 0 20px;
                .cap-btn {
                    background-color: transparent;
                    border: 1px white solid;
                    color: white;
                    font-size: 14px;
                    padding: 5px;
                    border-radius: 5px;
                    span {
                        padding-right: 5px;
                    }
                }
            }
        }
        .ep-body {
            display: flex;
            flex-wrap: wrap;
            gap: 17px;
            padding-top: 40px;
            .ep-box {
                height: 50px;
                width: 120px;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
                p {
                    align-items: center;
                    text-align: center;
                    line-height: 50px;
                    .play-icon {
                        padding-right: 4px;
                    }
                }
            }
        }
    }
}
