.wrapper {
    height: 90px;
    width: 100%;
    background-color: black;
    background-color: transparent;
    z-index: 999;
    position: fixed;
    top: 0;
    &.scrolled {
        background-color: black;
        height: 70px;
    }
    .container {
        padding: 0 32px 0 32px;
        display: flex;
        height: 100%;
        position: relative;
        align-items: center;
        .logo {
            img {
                width: 154px;
                height: 46px;
            }
        }
    }
}
.search {
    padding: 0 0px 0 30px;
    position: relative;
    .search-inner {
        .search-icon {
            position: absolute;
            color: white;
            top: 12px;
            left: 45px;
        }
        input {
            width: 270px;
            height: 30px;
            padding: 6.4px 48px 6.4px 48px;
            border-radius: 5px;
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            caret-color: red;
        }
        input::placeholder {
            font-size: 14px;
            color: white;
            transform: translateY(-2px);
        }
    }
}
.menu-bar {
    .menu-item {
        .menu-item-ul {
            display: flex;
            gap: 10px;
            li {
                color: white;
                font-size: 14px;
                padding: 0 15px 0 15px;
                cursor: pointer;
            }
            li:hover {
                color: rgb(255, 216, 117);
            }
            .no-hover:hover {
                color: white !important;
            }
        }
    }
}

.tippy-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột */
    background-color: rgba(15, 17, 26, 0.95);
    border-radius: 10px;

    padding: 10px;
    gap: 10px;
    width: 450px;

    .grid-4-col {
        padding: 10px;
        font-size: 13px;
        cursor: pointer;
        color: white;
    }
    .grid-4-col:hover {
        color: rgb(255, 216, 117);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
}

.seperator {
    border-right: 1px solid white;
    height: 44px;
}

.login {
    border-left: 1px solid white;
    height: 44px;
    padding-left: 30px;
    position: absolute;
    right: 205px;
    .login-btn {
        button {
            width: 145px;
            height: 43.77px;
            border-radius: 50px;
            border: none;
            .login-icon {
                padding: 0 15px 0 0;
            }
        }
    }
}

.subscribe {
    position: absolute;
    right: 32px;
    .sub-btn {
        button {
            width: 145px;
            height: 43.77px;
            border-radius: 50px;
            border: none;
            .sub-icon {
                padding: 0 15px 0 0;
            }
        }
    }
}
.subscribe,
.login {
    button {
        font-weight: 500;
        cursor: pointer;
    }
    button:hover {
        background-color: rgba(255, 255, 255, 1);
    }
}
